@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #4299e1;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3182ce;
}

body {
  margin: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

/* Background images for project cards */
.bg-spotlight1 {
  background-image: url('/assets/spotlight1.png');
  background-size: contain;
  background-position: top right;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  background-opacity: 0.1;
}

.bg-spotlight2 {
  background-image: url('/assets/spotlight2.png');
  background-size: contain;
  background-position: top right;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  background-opacity: 0.1;
}